.game-admin-buttons[hidden] {
    display: none;
}

.game-view {
    display: grid;
    grid-template-rows: 1fr;
    height: 100%;
    align-items: center;
    text-align: center;
    /* border: 1px solid purple; */
    /* height: 700px; */
    /* height: 100%; */
}

/* .tag-scroller {
    display: grid;
    grid-template-columns: 15% 15% 40% 15% 15%;
    grid-template-rows: 10% 10% 60% 10% 10%;
    grid-auto-rows: 100%;
    height: 100%;
} */

.tag-scroller {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.tag-scroller > div {
    height: 70%;
    width: 70%;
    position: absolute;
}

.top-tag {
    left: 50%;
    bottom: calc(85% + 25px);
    transform: translateX(-50%);
}

.center-tag {
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.bottom-tag {
    left: 50%;
    top: calc(85% + 25px);
    transform: translateX(-50%);
}

.left-tag {
    right: calc(85% + 25px);
    top: 50%;
    transform: translateY(-50%);
}

.right-tag {
    left: calc(85% + 25px);
    top: 50%;
    transform: translateY(-50%);
}

.game-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.player-details-table {
    display: grid;
    grid-auto-flow: row;
    width: 90%;
}

.player-details-table .row {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
}

.player-details-table .header {
    /* font-weight: bold; */
}

.player-details-table .cell {
    padding: 0.2em;
    text-align: center;
    box-sizing: border-box;
    vertical-align: middle;
}

.player-details-table .sorted {
    display: flex;
    flex-direction: row;
}

.player-details-table .cell.sorted > span {
    font-weight: bold;
}

.tag-card-view {
    display: grid;
    grid-template-columns: repeat(auto-fit, 125px);
    grid-auto-rows: 166px;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    row-gap: 10px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow: scroll;
}
