.game-admin-buttons[hidden] {
    display: none;
}

.game-view {
    position: relative;
    display: block;
    height: 100%;
}

.tag-scroller {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.tag-scoller-tag {
    height: 70%;
    width: 70%;
    position: absolute;
}

.top-tag {
    left: 50%;
    bottom: calc(85% + 25px);
    transform: translateX(-50%);
}

.center-tag {
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.bottom-tag {
    left: 50%;
    top: calc(85% + 25px);
    transform: translateX(-50%);
}

.left-tag {
    right: calc(85% + 25px);
    top: 50%;
    transform: translateY(-50%);
}

.right-tag {
    left: calc(85% + 25px);
    top: 50%;
    transform: translateY(-50%);
}

.game-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.player-details-table {
    display: grid;
    grid-auto-flow: row;
    width: 90%;
}

.player-details-table .row {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
}

.player-details-table .header {
    /* font-weight: bold; */
}

.player-details-table .cell {
    padding: 0.2em;
    text-align: center;
    vertical-align: middle;
}

.player-details-table .sorted {
    display: flex;
    flex-direction: row;
}

.player-details-table .cell.sorted > span {
    font-weight: bold;
}

.tag-card-view {
    display: grid;
    grid-template-columns: repeat(auto-fit, 125px);
    grid-auto-rows: 166px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    row-gap: 10px;
    height: 100%;
    width: 100%;
    overflow: scroll;
}

.game-header {
    z-index: 2;
}

/* the header positioned in place of the top tag */
.top-tag-header {
    position: absolute;
    width: 100%;
    height: calc(15% - 50px);
    border: 1px solid red;
    top: 0px;
    margin: 25px auto;
    display: flex;
    justify-content: center;
}

.cards-header {
    border: 1px solid red;
    height: calc(15% - 50px);
    margin: 25px auto;
}
