.game-admin-buttons[hidden] {
    display: none;
}

.game-view {
    position: relative;
    display: block;
    height: 100%;
    text-align: center;
}

.tag-scroller {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;

    --tag-gap: 25px;
}

.tag-scoller-tag {
    height: var(--tag-scroller-tag-width);
    width: var(--tag-scroller-tag-width);
    position: absolute;
}

.top-tag {
    left: 50%;
    bottom: calc(var(--tag-scroller-offset) + var(--tag-gap));
    transform: translateX(-50%);
}

.center-tag {
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.bottom-tag {
    left: 50%;
    top: calc(var(--tag-scroller-offset) + var(--tag-gap));
    transform: translateX(-50%);
}

.left-tag {
    right: calc(var(--tag-scroller-offset) + var(--tag-gap));
    top: 50%;
    transform: translateY(-50%);
}

.right-tag {
    left: calc(var(--tag-scroller-offset) + var(--tag-gap));
    top: 50%;
    transform: translateY(-50%);
}

.game-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.player-details-table {
    display: grid;
    grid-auto-flow: row;
    width: 90%;
}

.player-details-table .row {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
}

.player-details-table .header {
    /* font-weight: bold; */
}

.player-details-table .cell {
    padding: 0.2em;
    text-align: center;
    vertical-align: middle;
}

.player-details-table .sorted {
    display: flex;
    flex-direction: row;
}

.player-details-table .cell.sorted > span {
    font-weight: bold;
}

.tag-card-view {
    display: grid;
    grid-template-columns: repeat(auto-fit, 125px);
    grid-auto-rows: 166px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    row-gap: 10px;
    height: 100%;
    width: 100%;
    /* overflow: scroll; */
}

.game-header {
    z-index: 2;
    height: calc(var(--tag-scroller-sidebar-width) - 50px);
    width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    text-align: center;
}

/* the header positioned in place of the top tag
the top tag will still have an empty div, so we absolutely position this
on top of the empty space
*/
.top-tag-header {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.game-header-title {
    grid-column: 1 / span 2;
    grid-row: 1;
}

.game-header-link {
    grid-row: 2;
}

/* tag scroller view, but not viewing a root tag (there is a tag in the menu space) */
.collapsed {
    left: 0%;
    width: var(--tag-scroller-sidebar-width);
    transform: translateX(0%);
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
}

.collapsed > .game-header-link {
    grid-column: 1;
    grid-row: auto;
}

.game-card-view {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    grid-auto-rows: 332px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    gap: 10px;
    row-gap: 10px;
    height: 100%;
    width: 100%;
    /* overflow: scroll; */
}

.game-card {
    position: relative;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
    background-color: rgb(201, 201, 201);
    border-radius: 10px;
    filter: brightness(100%); /* for cards, we do not need to dim clickable */
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    /* display: grid; */
    /* grid-template-rows: 1fr auto; */

    --game-card-padding: 12.5px;
}

.game-card:hover {
    filter: brightness(110%);
    cursor: pointer;
}

.game-card-image-placeholder {
    margin: auto;
    font-style: italic;
}

.game-card-image-container {
    width: calc(100% - 25px);
    height: calc(100% - 25px);
    margin: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.game-card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.game-card-footer {
    margin: auto;
    padding-bottom: var(--game-card-padding);
    width: calc(100% - 2 * var(--game-card-padding));
    text-align: center;
    color: blue;
    line-height: 1em;
}

.game-favorite-icon {
    position: absolute;
    bottom: var(--game-card-padding);
    right: var(--game-card-padding);
    cursor: pointer;
    color: #ec00c1;
}

.game-favorite-icon:hover {
    cursor: pointer;
}
